@import '@/assets/scss/share.scss';

.home__wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background: $light;
}

.home__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: to-rem(150px);
  color: $main-bg;
}

.title__tw {
  font-size: $font-huge;
  letter-spacing: to-rem(12px);
}

.title__en {
  margin-top: to-rem(20px);
  font-size: $font-large;
  letter-spacing: to-rem(6px);
}

.home__icon {
  margin-top: to-rem(100px);
  cursor: pointer;
}

.icon__main {
  width: to-rem(200px);
  height: to-rem(150px);
  background: url("./images/home-logo.svg") no-repeat;
  background-position: center center;
  background-size: contain;
  animation: scale 3s infinite ease-in-out;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(.9);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
