@import '@/assets/scss/share.scss';

.map__wrap {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  height: calc(100vh - $footer-height);
}

.left__side {
  padding: to-rem(18px);
  min-width: to-rem(400px);
  box-shadow: 0px 3px 6px #00000029;
}

.side__title {
  display: flex;
}

.title__avatar {
  width: to-rem(135px);
  height: to-rem(135px);
  background: url("./images/avatar.svg") no-repeat;
  background-position: center center;
}

.txt__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: to-rem(8px);
  line-height: to-rem(28px);
}

.txt__tip {
  color: $main-bg;
  font-size: $font-large;
  margin-bottom: to-rem(6px);
}

.txt__number {
  color: $normal-color;
}

.side__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: to-rem(16px);
}

.dropdown__select {
  display: flex;
  width: 49%;
}

.side__card {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - #{to-rem(268px)});
  overflow: auto;
  padding-top: to-rem(8px);
  padding-bottom: to-rem(24px);
}

.card__wrap {
  position: relative;
  width: 95%;
  min-height: $card-height;
  box-shadow: 0px 3px 6px #0000004B;
  border-radius: 14px;
  margin-top: to-rem(12px);
}

.card__icon {
  position: absolute;
  right: to-rem(9px);
  top: to-rem(9px);
  width: to-rem(48px);
  height: to-rem(48px);
  background: url("./images/phone.svg") no-repeat;
  background-size: contain;
}

.card__txt {
  display: flex;
  flex-direction: column;
  min-height: to-rem(100px);
  margin-left: to-rem(20px);
  margin-top: to-rem(15px);
}

.card__title {
  font-size: $font-big;
  color: $main-bg;
}

.card__phone {
  margin-top: to-rem(30px);
  font-size: $font-small;
}

.card__address {
  margin-top: to-rem(8px);
  font-size: $font-small;
}

.card__footer {
  display: flex;
  color: $light;
}

.mask__number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-height: to-rem(50px);
}

.card__adult  {
  border-radius: 0px 0px 0px 14px;
}

.card__child {
  border-radius: 0px 0px 14px 0;
}

.more {
  background: $main-bg;
}

.normal {
  background: $normal-color;
}

.less {
  background: $less-color;
}

.out {
  background: $out-color;
}

// 右側地圖
.right__side {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.right__side__title {
  display: flex;
  align-items: center;
  height: $right-side-height;
}

.title__img {
  width: to-rem(294px);
  height: to-rem(83px);
  margin-left: to-rem(16px);
  background: url("./images/inventory.svg");
  background-position: center center;
}

.title__txt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: to-rem(100px);
  height: to-rem(50px);
  font-size: $font-big;
  border-radius: to-rem(8px);
  margin-left: to-rem(12px);
}

.txt__more {
  color: $more-color;
  border: 2px solid $more-color;
}

.txt__normal {
  color: $normal-color;
  border: 2px solid $normal-color;
}

.txt__less {
  color: $less-color;
  border: 2px solid $less-color;
}

.txt__alcohol {
  color: $alcohol-color;
  border: 2px solid $alcohol-color;
}

.right__map {
  display: flex;
  width: 100%;
  height: calc(100vh - #{$footer-height} - #{$right-side-height});
}

.footer {
  @include position(fixed, n, 0, 0, 0);

  display: flex;
  align-items: center;
  width: 100%;
  height: $footer-height;
  background: $main-bg;
  color: $light;
  font-size: $font-big;
  padding: to-rem(18px);
}